
<h1>You have attacked <%=$game.player1.name%><h1>
  <h2><%=$game.player1.name%> has <%=$game.player1.hp%>HPs<h2>

    <form action = '/play' method = 'post'>
      <input type = 'submit' value = 'OK'>
    </form>
