<h1> Welcome to battle </h1>
<form action='/names' method='post'>
  <!-- <label for  -->
  <input type='text' name='first_name'>
  <!-- <input type='text' name='player_2'> -->
  <input type='submit' value='Submit'>
</form>
