<h1><%= $game.player1.name %> vs <%= $game.player2.name %>  </h1>
<h2> hp: <%= $game.player1.hp %> hp: <%= $game.player2.hp %> </h2>
<form action='/attack' method='post'>
  <!-- <button type='submit'>Attack Player 1</button> -->
  <button type='submit'>Attack Player 2</button>
</form>
