<h1><%= @name1 %> vs <%= @name2 %>  </h1>
<h2> hp: <%= @hp1 %> hp: <%= @hp2 %> </h2>
<form action='/attack' method='post'>
  <button type='submit'>Attack Player 1</button>
  <button type='submit'>Attack Player 2</button>
</form>
